<div class="container">
  <div *ngIf="registerError" class="error">{{ registerError }}</div>
  <input
    type="text"
    name="email"
    placeholder="email"
    class="input"
    #emailRegister
  />
  <input
    type="password"
    name="password"
    placeholder="password"
    class="input"
    #passwordRegister
  />
  <button
    (click)="onRegister(emailRegister.value, passwordRegister.value)"
    class="button"
  >
    Register
  </button>
  <hr />
  <div>Already have an account?</div>
  <button routerLink="/login" class="button">Log in</button>
</div>
