.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 4rem;
  width: 4rem;
  filter: drop-shadow(0px 0px 3px #aaa);
  padding: 0.5rem;
  animation: fade-in 2s linear;
}

a {
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  color: rgb(119, 122, 122);
  &:hover {
    color: azure;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
