<div *ngIf="areSlidesLoaded; else loading" class="container">
  <ng-container *ngFor="let slide of slides; let i = index">
    <app-click-game-page
      (click)="onNextClick()"
      *ngIf="i === slideNo"
      text="{{ slide['commentary'] }}"
      delay="{{ slide['delay'] }}"
      hidingBtn="{{ slide['hidingBtn'] }}"
      btnText="{{ slide['buttonTxt'] ? slide['buttonTxt'] : null }}"
      last="{{ i === slides.length - 1 ? 'true' : null }}"
      @carouselAnimation
    ></app-click-game-page>
  </ng-container>
  <!-- <button class="button new-observation" (click)="toggleAddObservation()">
    +
  </button>
  <div *ngIf="isAddingObservation" class="add-observation container modal">
    <div class="close" (click)="toggleAddObservation()">X</div>
    Add observation:
    <input type="text" class="input" />
    <button class="button">Add observation</button>
  </div> -->
</div>
<ng-template #loading>
  <h2>Big stuff</h2>
  <img src="/assets/icons/android-chrome-192x192.png" class="spinner" alt="" />
</ng-template>
