<div class="container">
  <div class="container" *ngIf="!userData.displayName">
    <div>Welcome to nHabit!</div>
    <div>Congratulations on taking a step forward in your internet health.</div>
    <p>Please create a username:</p>
    <input type="text" placeholder="username" class="input" #username />
    <button (click)="addUsername(username.value)" class="button">
      Add username
    </button>
    <div>{{ userName }}</div>
  </div>
  <div *ngIf="userData && userData.displayName" class="container">
    <span>Welcome back, {{ userData.displayName }}!</span>
    <div class="container row">
      <app-game-preview title="click"></app-game-preview>
      <app-game-preview title="type"></app-game-preview>
      <app-game-preview title="swipe"></app-game-preview>
    </div>
  </div>
</div>
