<div class="container">
  <button
    *ngIf="last; else display"
    class="button button-lg"
    routerLink="/home"
  >
    Back to games
  </button>
  <ng-template #display>
    <div class="container-hollow">
      <button
        class="button button-lg"
        [class.button-hides]="hidingBtn"
        [attr.disabled]="disabled ? '' : null"
      >
        <span *ngIf="btnText; else click">{{ btnText }}</span>
        <ng-template #click>
          <span>Click</span>
        </ng-template>
      </button>
    </div>
    <p>{{ text }}</p>
  </ng-template>
</div>
