// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nhabit-frontend-primary: mat.define-palette(mat.$indigo-palette);
$nhabit-frontend-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$nhabit-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nhabit-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $nhabit-frontend-primary,
      accent: $nhabit-frontend-accent,
      warn: $nhabit-frontend-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nhabit-frontend-theme);

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Baloo Tammudu 2", cursive;
  // background-color: rgb(69, 138, 149);
  background: linear-gradient(
      217deg,
      rgb(169, 220, 231),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgb(69, 138, 149), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  margin: 0;
  font-size: 1.3rem;
}

html,
body {
  height: 100%;
}

main {
  text-align: center;
  position: relative;
}

p {
  text-align: center;
}

.input {
  font-size: 1.1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 0.2rem;
  padding: 0.2rem 0.4rem;
  &:focus {
    outline: none;
  }
  ::placeholder {
    text-transform: lowercase;
  }
}

.button {
  font-size: 1.1rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  margin: 1rem;
  transition: all 300ms;
  border-radius: 6px;
  padding: 0.2rem 0.7rem 0 0.7rem;
  font-family: "Baloo Tammudu 2", cursive;
  cursor: pointer;
  &:hover {
    background: white;
    transition: all 300ms;
  }
}

.button-lg {
  width: 30vw;
  height: 7rem;
}

.button-btm {
  margin-top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-hollow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  height: 7rem;
  margin: none;
  padding: none;
}

.row {
  flex-direction: row;
}

hr {
  width: 5rem;
  border: 1px solid black;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(100, 100, 100, 0.9);
  z-index: 999;
  a {
    color: white;
    font-size: 2.5rem;
  }
}
